@charset "UTF-8";

/* Formatação do fundo da página */
body{ 
    background-color: white;
}

/* Formatação do logo Macrosoft */
figure.fotos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%
}

/* Formatação da barra de navegação */
nav#menu
ul{
    list-style-type: none;
    text-transform: uppercase;
    position: absolute;
    padding: -300%;
    margin: 20px;
    left: 170px;
}

nav#menu 
li {
   float: left;
   margin: 5px;
   padding-left: 225px;
}

nav#menu{
    display: block;
    background-color: #0082e6;
    height:70px;
    width: 100%;
}

nav#menu 
a {
    color: white;
    text-decoration: none;
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding: 7px 13px;
    border-radius: 3px;
}

a.ativo,a:hover{
    background: #1b9bff;
    transition: .5s;
}

/* Formatação do texto */
p {
    text-align: justify;
    text-indent: 20px;
    padding-right: -10px;
    font-family: Arial, sans-serif;
    margin-left: 10%;
    font-size: 25px;
}

/* Formatação dos títulos */
h1 {
    text-align: justify;
    text-indent: 20px;
    font-family: Arial, sans-serif;
    color: #0082e6;
    text-shadow: 2px 2px 4px #7ac0e9;
    margin-left: 7%;
    padding-right: -10px;
}

h4{
    font-size: 12pt
}

/* Formatação do rodapé */
footer {
    clear: both;
    font-size: small;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #0082e6;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bolder;
}
