@charset "UTF-8";

/* Formatação do fundo da página */
body{ 
    background-color: white;
}

/* Formatação do logo Macrosoft */
figure.fotos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%
    }

/* Formatação da barra de navegação */
nav#menu
ul{
    list-style-type: none;
    text-transform: uppercase;
    position: absolute;
    padding: -300%;
    margin: 20px;
    left: 170px;
}

nav#menu 
li {
   float: left;
   margin: 5px;
   padding-left: 225px;
}

nav#menu{
    display: block;
    background-color: #0082e6;
    height:70px;
    width: 100%;
}

nav#menu 
a {
    color: white;
    text-decoration: none;
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding: 7px 13px;
    border-radius: 3px;
}

a.ativo,a:hover{
    background: #1b9bff;
    transition: .5s;
}

/* Formatação das divisões do site */
section{
    display:"block";
    width: 500px;
    float: left;
    text-align: center;
    margin-left: 300px;
    font-family: Arial, sans-serif;
}

aside{
    display:"block";
    width: 500px;
    float: right;
    text-align: center;
    margin-right: 300px;
    font-family: Arial, sans-serif;
}

footer {
    clear: both;
    font-size: small;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #0082e6;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bolder;
}

/* Formatação do texto */
h1 {
    color:  #0082e6;
    text-shadow: 2px 2px 4px #7ac0e9;
    font-size: 24pt;
}

h2 {
    font-size: 20pt;
    text-align: left;
    margin-left: 100px;
    vertical-align: 300px
}

h3{
    font-size: 16pt;
}

h4{
    font-size: 12pt
}

p{
    font-size: 14pt;
}

/* Formatação do formulário */
fieldset{
    text-align: justify;
    background-color: #1b9bff;
    color: white;
    font-weight: bold;
    font-size: 14pt;
    font-family: sans-serif;
}

input{
    width: 200pt;
}

input#mensagem{
    width: 400pt;
    height: 300pt;
}

input#enviar{
    width: 100px;
    color: #0082e6;
    font-weight: bold;
}