@charset "UTF-8";

* {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    
}

/* Formatação do fundo da página */
body{ 
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height:100%;
}

/* Formatação do header */

header{
    height:80px;
    overflow-wrap: normal;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

#macimg{
    position: relative;
    left: 3%;
    top: 0%
}

#lkdimg{
    position: relative;
    left: 71%;
    top: 15%;
}

#faceimg{
    position: relative;
    left: 73%;
    top: 15%;
}

#instaimg{
    position: relative;
    left: 75%;
    top: 15%;
}


/* Formatação da barra de navegação*/

nav#menu{
    display: block;
    background-color: #0082e6;
    height:40px;
    width: 100%;
    min-height: fit-content;
}

nav#menu ul{
    list-style-type: none;
    text-transform: uppercase;
    position: relative;
    left: 0px;
    margin-top: 0%;
    top: 30%;
}

nav#menu li {
   float: left;
   margin: 0;
   
}

nav#menu .botmenu{
    color: white;
    text-decoration: none;
    font-size: 11pt;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding: 7px 13px;
}

nav#menu .botmenu .ativo, a:hover{
    background: #1b9bff;
    transition: .5s;
}

nav#menu #nservico{
    position: relative;
    left: 5%;
}

nav#menu #contato{
    position: relative;
    left: 15%;
}

nav#menu #trabalhe{
    position: relative;
    left: 12%;
}

/*Formatação do banner*/

.banner #ibanner{
    width: 100%;
    height: 100%;
    display: absolute;
}


/*Formatação dos títulos*/

.texto ul li{
    display: inline-block;
    font-family: Arial, sans-serif;
    color: #0082e6;
    text-shadow: 2px 2px 4px #7ac0e9;
    font-size: 17pt;
    font-weight: bolder;
}

.texto ul .linha1{
    margin-right: 23.5%;
}

.texto ul .linha2{
    margin-right: 27.5%;
}

.texto ul{
    margin-left: 16%;
    margin-bottom: 1%;
    margin-top: 5%;
}

/*Formatação da section */

section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    font-family: 'Poppins', sans-serif;
    flex-grow: 1;
}

.divisao
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transform-style: preserve-3d;
    flex-wrap: wrap;
}

.divisao .box{
    position: relative;
    width: 450px;
    height: 300px;
    margin-right: 50px;
    margin-left: 50px;
    background: #000;
    transform-style: preserve-3d;
}

.divisao .box:hover{
    box-shadow: 0 50px 80px rgba(0, 0, 0, .2);
}

.divisao .box .imgBx{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%
}

.divisao .box .contentBx{
    position: absolute;
    top: 50%;
    left: 50px;
    right: 50px;
    background: rgb(248, 246, 246);
    transform: translateZ(20px) scaleY(0);
    padding: 10px 25px;
    transform-origin: top;
    transition: 0.5s; 
    transform-style: preserve-3d;
}

.divisao .box .contentBx p{
    text-align: justify;
}

.divisao .box:hover .contentBx{
    transform: translateZ(50px) scaleY(1);
}

.divisao .box .imgBx .dimg{
    max-width: 500px;
}

/*Formatação da div Equipe*/
.equipe{
    background-color: #7ac0e9;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: white;
    height: 570px;
    max-height: fit-content;
}

.equipe .perfis{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 80%;
    max-width: 100%;
    overflow: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-wrap: wrap;
    overflow: hidden;
}

.equipe .tituloEquipe{
    font-size: 35pt;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: bolder;
    text-shadow: 2px 2px 4px, black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.equipe .perfis .foto .fotoPerfil{
    width: 250px;
}

.equipe .perfis .perfilGuilherme{
    position: relative;
    left: 25%;
}

.equipe .perfis .perfilCaio{
    position: relative;
    left: 50%;
}

.equipe .perfis .nomePerfil{
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
}

.equipe .perfis .dados{
    text-align: center;
    font-size: 13pt;
}

/* Formatação do rodapé */
.rodape{
    clear: both;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #0082e6;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
   
}

.rodape .endereco{
    display: flex;
    flex-direction: column;
    margin-left: 19%;
    font-size: 12pt;
    position: relative;
}  

.rodape .endereco h5{
    font-size: 8pt;
}

.rodape .endereco h4{
    font-size: 12pt;
}

.rodape .links{
    min-width: fit-content;
    margin-left: 7.5%;
    margin-top: 0%;
}

.rodape .links ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 12pt;
        
}

.rodape .links ul li{
    float: left;
    margin-bottom: 7%;
}

.rodape .links ul li a{
    text-decoration: none;
    color: white;
}

.rodape .links ul li a:hover{
    text-decoration: underline;
}

.rodape .social{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    position: relative;
    top: 60px;
}

.rodape .social .socialimg{
    margin-right: 40%;
}